
.enric{
    position:fixed;
    top:0;
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
}
.new-event-form {
    max-width: 500px;
    height: 80vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background:#fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.new-event-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8D48AB;
    border-radius: 15px 15px 0 0;
    padding: 10px 20px;
}
.new-event-title .cross{
    color: #fff;
}
.hidden{
    visibility: hidden;
    opacity: 0;
}
.title-modal{
    color: #fff;
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
}
.wrapper-form{
    padding: 20px;
}
.wrapper-form .label-event{
    font-size: 14px;
    color: #747D8E;
}
.wrapper-form #event-title{
    width: 100%;
    padding-bottom: 5px;
    appearance: none;
    border: none;
    border-bottom: 1px solid #747D8E;
    font-size: 16px;
    color: black;
    margin: 10px 0;
}
.wrapper-form-dates{
    margin-bottom: 20px;
    width: 100%;
}
.wrapper-form-dates__1{
    width: 50%;
}
.wrapper-form-dates input[type="date"]{
    width: 90%;
    margin: 10px 0 0 0 ;
}


